.music_wrapper {
    display: block;
    width: 100%;
}

.header {
    font-weight: 700;
    font-size: 1.5em;
}
.playlists {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 6%;
}
.cover {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    margin-bottom: 30px;
}
.img {
    width: 80%;
    height: auto;
    border-radius: 1em;
}