.history_wrapper {
    margin-top: 5%;
}

.button {
    padding: 0;
    font-size: 1.1em;
    font-weight: 700;
    width: 50%;
    border: none;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFDF9;
    color: #081F5C;
    font-family: "Andika", sans-serif;
    cursor: pointer;
    background-image: url("arrow-down-sign-to-navigate.png");
    background-repeat: no-repeat;
    background-position: 195px 10px;
    background-size: 20px 20px;
  }
.item {
    margin: 6% 0;
}
.date {
    font-size: 0.9em;
}
.cat {
    font-size: 0.7em;
}
