.settings_wrapper {
    display: block;
}
.list {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    
}
.list_item, .header {
    margin-bottom: 5px;
    background-color: #FFFDF9;
    text-decoration: none;
    
    background-repeat: no-repeat;
    background-position: 10px 16px;
    background-size: 25px 25px;
    padding: 10px 40px 5px;
}
.list_item {
    cursor: pointer;
}
.header {
    background-image: url("settings.png");
    font-size: 1.1em;
    font-weight: 700;
}
.button {
    margin: 0;
    line-height: 1;
    border: none;
    background-color: transparent;
    
    font-size: 1em;
    color: #081F5C;
    font-family: "Andika", sans-serif;
    cursor: pointer;
}
