.level_wrapper {
    display: flex;
    flex-direction: column;
}
.level { 
    background-color: #00ff1e;
    border-radius: 10px;
    height: 20px;
    width: 80%
}

.label {
    padding-bottom: 15px;
    font-size: 1.1em;
    font-weight: 700;
}